[Unit]
Description=Restarts service unit %I on config file changes

[Service]
Type=oneshot
ExecStart=%h/.local/bin/restart-service %i

[Install]
WantedBy=service-watcher@%i.path
