[user]
  name = Augusto Elesbão
  email = "aelesbao@users.noreply.github.com"
  signingkey = FFAE83F3
  useConfigOnly = true

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = trailing-space,space-before-tab
  pager = delta || diff-so-fancy | less --tabs=4 -RFX || less --tabs=4 -RFX

[url "https://github.com/"]
  insteadOf = "git://github.com/"
  insteadOf = "git@github.com:"
  insteadOf = "github:"
  insteadOf = "gh:"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "github:"
  pushInsteadOf = "gh:"

[url "https://github.com/aelesbao/"]
  insteadOf = "aelesbao:"

[url "git@github.com:aelesbao/"]
  pushInsteadOf = "aelesbao:"

[url "https://aur4.archlinux.org/"]
  insteadOf = "aur:"

[url "aur@aur4.archlinux.org:"]
  pushInsteadOf = "aur:"

[url "git@heroku.com:"]
  insteadOf = "heroku:"

[url "git@bitbucket.org:"]
  insteadOf = "bitbucket:"

[url "https://gitlab.com/"]
  insteadOf = "gitlab:"

[url "git@gitlab.com:"]
  pushInsteadOf = "https://gitlab.com/"

[branch]
  autoSetupRebase = always

[push]
  default = upstream

[commit]
  gpgSign = true
  verbose = true

[gpg]
  format = openpgp

[credential]
  helper = osxkeychain

[alias]
  st      = status
  s       = status -s -b
  ci      = commit -S
  cis     = !git ci -S
  amend   = !git cis --amend -C HEAD
  fixup   = !git cis --fixup=$(git rev-parse --verify HEAD)
  co      = checkout
  w       = whatchanged
  wiff    = diff --color-words --word-diff
  ediff   = diff --ext-diff
  search  = log -S
  l       = log --graph --decorate --date=local
  lol     = !git l --oneline --abbrev-commit
  lola    = !git lol --all
  lstat   = !git l --patch-with-stat --summary
  lm      = !git lol "$(git branch -rl '*/HEAD' | awk -F/ '{print $NF}')"..HEAD
  dm      = !git diff --no-ext-diff "$(git branch -rl '*/HEAD' | awk -F/ '{print $NF}')"..HEAD
  pull    = pull --ff-only
  plr     = pull --rebase --prune
  head    = rev-parse --short --verify HEAD
  news    = log -p HEAD@{1}..HEAD@{0}
  publish = !git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"
  clean   = clean -i
  clear   = clean -i
  current-branch = !git symbolic-ref -q --short HEAD || git describe --tags --exact-match
  delete-remote-branch = !git push origin :"$(git rev-parse --abbrev-ref HEAD)"

[init]
  defaultBranch = main

[git-extras]
  default-branch = main

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[rerere]
  enabled = true

[rebase]
  autosquash = true

[apply]
  whitespace = warn

[format]
  pretty = format:%C(bold yellow)%h%C(reset) %s %C(red)%d%C(reset) %n%C(magenta)%ad%C(reset) %n%C(blue)%an%C(reset)%n

[color]
  ui     = true
  pager  = true

[diff]
  tool = vscode
  ;renames = copies
  colorMoved = default

[difftool "vscode"]
  cmd = code -n --wait --diff $LOCAL $REMOTE

[merge]
  tool = vscode
  ff = only
  conflictstyle = diff3

[mergetool "vscode"]
  cmd = code -n --wait -m $REMOTE $LOCAL $BASE $MERGED
  keepBackup = false

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  ;side-by-side = true

[github]
  user = aelesbao

[include]
  path = ~/.gitconfig.local
