[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:aelesbao/prezto.git
	branch = custom
  update = rebase
[submodule ".config/kitty/kitty-icon"]
	path = .config/kitty/kitty-icon
	url = git@github.com:k0nserv/kitty-icon.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/doomemacs/doomemacs
[submodule ".config/iterm2/terminal-icons"]
	path = .config/iterm2/terminal-icons
	url = https://github.com/dhanishgajjar/terminal-icons
[submodule ".config/iterm2/iterm2-icons"]
	path = .config/iterm2/iterm2-icons
	url = https://github.com/jasonlong/iterm2-icons
