# Local config
.gitconfig.local
.z*.local
.tmux.conf

# Editors
*.swp
.ensime
.session.vim
.idea/
.bsp/
.vs/
*.iml
*.sublime-*
.metadata/
.settings/
.vscode/
.fleet/
.project
.externalToolBuilders/
rebel.xml
*.code-workspace

# Caches
.cache
.classpath
.cap_tasks~
.factorypath
.history
test_*_files/
.tags
.tags1
tags
ctags

Logs
*.log

# direnv
.envrc
.direnv

# Project local smug config
.smug.yml

# OS specific
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Versions
.ruby-version
.python-version
.java-version
.nvmrc

# Personal sandbox area
.sandbox
