[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/aelesbao/prezto
	branch = custom
  update = rebase
[submodule ".config/kitty/kitty-icon"]
	path = .config/kitty/kitty-icon
	url = https://github.com/k0nserv/kitty-icon
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/doomemacs/doomemacs
[submodule ".config/iterm2/terminal-icons"]
	path = .config/iterm2/terminal-icons
	url = https://github.com/dhanishgajjar/terminal-icons
[submodule ".config/iterm2/iterm2-icons"]
	path = .config/iterm2/iterm2-icons
	url = https://github.com/jasonlong/iterm2-icons
[submodule ".warp/themes/tokyo-night"]
	path = .warp/themes/tokyo-night
	url = https://github.com/bart-krakowski/warp-tokyo-night
