" vim:ft=vim

" Common settings
set nu
"set relativenumber

" Perform put via IDE
set clipboard+=ideaput

" Join command will be performed via IDE
set ideajoin

" Plugins " {{{

set surround
set multiple-cursors
set commentary
set argtextobj

" Plugins settings
let g:argtextobj_pairs="[:],(:),<:>"

" }}}

" Key mappings " {{{

let mapleader=" "
let maplocalleader=" "

" save keystrokes, so we don't need to press the Shift key
nnoremap ; :

" Split line(opposite to S-J joining line)
nnoremap <silent> <C-J> gea<CR><ESC>ew

" Hard-wrap paragraphs of text
nnoremap <leader>= gqip

" Add lines above and bellow
map [<Space> O<ESC>j^
map ]<Space> o<ESC>k^

" Move lines up and down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Duplicate lines
nnoremap <A-d> Yp

" IntelliJ Actions
map gcc :action CommentByLineComment<CR>

map <C-w>L :action MoveTabRight<CR>
map <C-w>J :action MoveTabDown<CR>
map <C-w>z :action MaximizeEditorInSplit<CR>
map <M-l> :action NextSplitter<CR>
map <M-h> :action PrevSplitter<CR>

map <C-p> :action GotoFile<CR>

map <leader>ee :action ActivateProjectToolWindow<CR>
map <leader>gg :action ActivateCommitToolWindow<CR>

map <M-S-R> :action Run<CR>
map <M-S-D> :action Debug<CR>

" Reload config
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" }}}
