" Common settings
set nu
set relativenumber

" Perform put via IDE
set clipboard+=ideaput

" Join command will be performed via IDE
set ideajoin

" Plugins " {{{

set surround
set multiple-cursors
set commentary
set argtextobj

" Plugins settings
let g:argtextobj_pairs="[:],(:),<:>"

" }}}

" Key mappings " {{{

let mapleader=","
let maplocalleader=","

" save keystrokes, so we don't need to press the Shift key
nnoremap ; :

" Split line(opposite to S-J joining line)
nnoremap <silent> <C-J> gea<CR><ESC>ew

" Hard-wrap paragraphs of text
nnoremap <leader>= gqip

" Add lines above and bellow
map [<Space> O<ESC>j^
map ]<Space> o<ESC>k^

" Toggle comment
map <leader>c<Space> :action CommentByLineComment<CR>

" Reload config
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" }}}
