" Enable plugins
set surround
set multiple-cursors

" Join command will be performed via IDE
set ideajoin

" Perform put via IDE
set clipboard+=ideaput

" Disable arrow keys and ESC
"inoremap <Left>  <NOP>
"inoremap <Right> <NOP>
"inoremap <Up>    <NOP>
"inoremap <Down>  <NOP>
"nnoremap <Left>  <NOP>
"nnoremap <Right> <NOP>
"nnoremap <Up>    <NOP>
"nnoremap <Down>  <NOP>
"vnoremap <Left>  <NOP>
"vnoremap <Right> <NOP>
"vnoremap <Up>    <NOP>
"vnoremap <Down>  <NOP>

" Key mappings " {{{
let mapleader=","
let maplocalleader=","

" save keystrokes, so we don't need to press the Shift key
nnoremap ; :

" Split line(opposite to S-J joining line)
nnoremap <silent> <C-J> gea<CR><ESC>ew

" Hard-wrap paragraphs of text
nnoremap <leader>= gqip

" Add lines above and bellow
map [<Space> O<ESC>j^
map ]<Space> o<ESC>k^

" Toggle comment
map <leader>c<Space> :action CommentByLineComment<CR>
