$cursor = rgb({{ cursor | rgb }})

{% for c in colors %}
{%- set c_rgb = c | rgb | strip -%}
{%- set name = "color" + (loop.index0 | string) -%}
{% if loop.index == loop.length -1 %}
{%- set name = "background" -%}
{%- elif loop.index == loop.length %}
{%- set name = "foreground" -%}
{%- endif -%}
# {{ name }}: {{ c }}
${{ name }} = rgb({{ c_rgb }})
{%- for alpha in range(1, 10) %}
${{ name }}_alpha{{ alpha }} = rgba({{ c | strip }}{{ (alpha * 10) | alpha_hexa }})
{%- endfor %}

{% endfor %}
