# Colors
background-color={{ background }}{{ 90 | alpha_hexa }}
text-color={{ foreground }}
border-color={{ color5 }}
progress-color=over {{ color4 }}{{ 90 | alpha_hexa }}

[urgency=low]
border-color={{ color1 }}

[urgency=high]
border-color={{ color1 }}
