/* Check https://github.com/Alexays/Waybar/wiki/Styling */

@import "colors.css";

* {
  box-shadow: none;
  transition: none;
}

#waybar {
  background: alpha(@background, 0.5);
  color: @foreground;
  font-family: "Hack Nerd Font";
  font-size: 1em;
  padding: 0px 8px;
  margin: 4px 8px;
  outline: none;
  border: none;
  border-radius: 6px;
}

#waybar * {
  border-radius: 6px;
}

tooltip {
  background: alpha(@background, 0.9);
  border: 1px solid alpha(@color5, 0.7);
  border-radius: 6px;
}

tooltip label {
  color: @foreground;
  font-family: "Hack Nerd Font";
  font-size: 1em;
  font-weight: 300;
  padding: 8px;
}

button:hover {
  color: @color14;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-gpu,
#custom-notifications,
#disk,
#idle_inhibitor,
#language,
#login-menu,
#memory,
#mode,
#network,
#privacy,
#pulseaudio,
#temperature {
  padding: 2px 4px;
}

#workspaces {
  margin: 0;
  margin-right: 16px;
}

#workspaces .workspace-label {
  padding: 0 8px;
  margin: 0px;
  margin-right: 8px;
}
#workspaces button box .workspace-label:only-child {
  margin-right: 0px;
}

#workspaces .taskbar-window {
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  margin: 0;
  margin-right: 8px;
}
#workspaces .taskbar-window.active {
  border-color: @color6;
}

#workspaces button {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin: 0 4px;
  padding: 0;
}
/* #workspaces button.visible .workspace-label { */
/*   color: @color8; */
/* } */
#workspaces button.active {
  background-color: alpha(@color0, 0.5);
  border-color: @color6;
}
#workspaces button.active .workspace-label {
  background-color: @color0;
  color: @color6;
}
#workspaces button.special {
  border-color: @color5;
}
#workspaces button.special .workspace-label {
  background-color: @color0;
  color: @color5;
}
#workspaces button.urgent .workspace-label {
  color: @color2;
}
#workspaces button.urgent .taskbar-window {
  border-color: alpha(@color2, 0.8);
}

#window {
  font-size: 0.9em;
  font-weight: 400;
  margin-right: 16px;
}

#bartender {
  padding: 0 4px;
}

#bartender .drawer {
  padding-left: 4px;
}

#custom-tray-icon,
#tray image {
  padding: 0 4px;
  min-width: 20px;
}

#vpn {
  padding: 0 4px;
}
#vpn .drawer box {
  margin: 0 4px;
}
#vpn .not-first label {
  margin: 0 4px;
  min-width: 20px;
}

#pulseaudio.bluetooth {
  color: @color12;
}
#pulseaudio.muted {
  color: @color3;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: @background;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 6px;
  background-color: @color0;
}
#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 6px;
  background-image: image(@color5);
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @color1;
}

#login-menu {
  margin-right: 8px;
}
#login-menu label {
  padding: 0 4px;
  min-width: 20px;
}
#login-menu .not-first label {
  margin: 0 4px;
}
#login-menu #user {
  color: @color5;
}
#login-menu #custom-lock {
  color: @color6;
}
#login-menu #custom-logout {
  color: @color1;
}

#submap {
  border-left: 1px solid alpha(@color3, 0.8);
  border-right: 1px solid alpha(@color3, 0.8);
  color: @color3;
  padding: 2px 8px;
  margin: 0px 8px;
}

#idle_inhibitor {
  min-width: 20px;
}

#privacy {
  /* background-color: alpha(@color3, 0.8); */
  color: @color7;
}
#privacy-item {
  padding: 0 4px;
}
/* #privacy-item.screenshare */
/* #privacy-item.audio-in */
/* #privacy-item.audio-out */

/* #network */
/* #network.disabled */
/* #network.disconnected */
/* #network.linked */
/* #network.ethernet */
/* #network.wifi */

#bluetooth {
  min-width: 20px;
}
#bluetooth.disabled, #bluetooth.off {
  color: @color1;
  background-color: alpha(@color8, 0.5);
}
#bluetooth.connected {
  color: @color12;
}
#bluetooth.no-controller {
  color: @color7;
}
/* #bluetooth.discoverable */
/* #bluetooth.discovering */
/* #bluetooth.pairable */

#mpris.paused {
  color: @color8;
}
#mpris.playing {
  color: @color2;
}

#cava {
  color: @color8;
  font-size: 90%;
}

#systemd-failed-units {
  padding: 0 8px;
}
#systemd-failed-units.ok {
  color: @color2;
}
#systemd-failed-units.degraded {
  color: @color1;
}

#custom-notifications {
  margin: 0;
  margin-right: 8px;
}
#custom-notifications.notification {
  color: @color5;
}
#custom-notifications.dnd-notification,
#custom-notifications.dnd-inhibited-notification {
  color: @color2;
}
#custom-notifications.dnd-none,
#custom-notifications.dnd-inhibited-none {
  color: @color9;
}
