/* Check https://github.com/Alexays/Waybar/wiki/Styling */

@import "colors.css";

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  background: alpha(@background, 0.7);
  color: @foreground;
  font-family: "Hack Nerd Font";
  font-size: 1em;
  font-weight: 300;
  padding: 0 8px;
}

#waybar * {
  border-radius: 10px;
}

tooltip {
  background: alpha(@background, 0.9);
  border: 1px solid alpha(@color5, 0.7);
  border-radius: 10px;
}

tooltip label {
  color: @foreground;
  font-family: "Hack Nerd Font";
  font-size: 1em;
  font-weight: 300;
  padding: 8px;
}

#bartender,
#quicklinks,
#mode,
#battery,
#bluetooth,
#cpu,
#custom-gpu,
#memory,
#disk,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#clock,
#temperature,
#language,
#privacy,
#login-menu {
  padding: 0 8px;
}

#quicklinks label {
  padding: 0 4px;
  min-width: 20px;
}

#quicklinks .drawer box {
  padding-left: 4px;
}

#quicklinks .not-first label {
  margin: 0 4px;
}

#quicklinks .not-first label:hover {
  color: @color14;
}

#quicklinks #custom-distro {
  color: @color5;
  margin-right: 4px;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 0 4px;
  padding: 0 8px;
}

#workspaces button.visible {
  color: @color8;
}

#workspaces button.active {
  background-color: @color0;
  color: @color6;
}

#workspaces button.urgent {
  color: @color2;
}

#taskbar {
  margin: 0 8px;
}
#taskbar .flat {
  padding: 0 8px;
}
#taskbar .active {
  background-color: alpha(@color0, 0.8);
}

button:hover {
  color: @color14;
}

#window {
  font-size: 0.9em;
  font-weight: 400;
}

#bartender {
  padding: 0 4px;
}

#bartender .drawer {
  padding-left: 4px;
}

#custom-tray-icon,
#tray image {
  padding: 0 4px;
  min-width: 20px;
}

#pulseaudio.bluetooth {
  color: @color12;
}

#pulseaudio.muted {
  color: @color3;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: @background;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @color0;
}

#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 10px;
  background-image: image(@color5);
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @color1;
}

#login-menu {
  margin-right: 8px;
}

#login-menu label {
  padding: 0 4px;
  min-width: 20px;
}

#login-menu .not-first label {
  margin: 0 4px;
}

#login-menu #user {
  color: @color5;
}

#login-menu #custom-lock {
  color: @color6;
}

#login-menu #custom-logout {
  color: @color1;
}

#submap {
  background-color: alpha(@color3, 0.8);
  color: @color0;
  padding: 0 8px;
}

#submap.resize {
  color: @color0;
}

#idle_inhibitor {
  min-width: 20px;
}

/* wlr/taskbar */
/* #taskbar */
/* #taskbar button */
/* #taskbar button.active */
/* #taskbar button.minimized */
/* #taskbar button.maximized */
/* #taskbar button.fullscreen */
/* #taskbar.empty */

/* privacy */
#privacy {
  background-color: alpha(@color3, 0.8);
  color: @color0;
}
#privacy-item {
  padding: 0 4px;
}
/* #privacy-item.screenshare */
/* #privacy-item.audio-in */
/* #privacy-item.audio-out */

/* network */
/* #network */
/* #network.disabled */
/* #network.disconnected */
/* #network.linked */
/* #network.ethernet */
/* #network.wifi */

/* bluetooth */
#bluetooth {
  min-width: 20px;
}
/* #bluetooth.disabled */
#bluetooth.off {
  background-color: alpha(@color3, 0.8);
}
/* #bluetooth.on */
/* #bluetooth.connected */
/* #bluetooth.discoverable */
/* #bluetooth.discovering */
/* #bluetooth.pairable */
/* #bluetooth.no-controller */

#mpris.paused {
  color: @color8;
}
#mpris.playing {
  color: @color2;
}
