@import "theme.rasi"

configuration {
  sort: false;
}

/* ---- Listbox ---- */
listbox {
  children: [ "inputbar", "message", "listview" ];
}

/* ---- Inputbar ---- */
textbox-prompt-colon {
  str: "";
}

entry {
  placeholder: "Calc";
}

/* ---- Listview ---- */
listview {
  lines:    4;
  cycle:    true;
  dynamic:  true;
}
