configuration {
  font: "Hack Nerd Font 12";

  show-icons: true;
  icon-theme: "kora";

  show:         "combi";
  modes:        "combi";
  combi-modes:  "window,drun,run,ssh";

  run-command: "uwsm app -- {cmd}";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
