@import "theme.rasi"

configuration {
  modes:               [ combi ];
  combi-modes:         [ drun ];

  show-icons:          true;
  icon-theme:          "candy-icons";

  display-drun:        "";
  display-run:         "  ";
  display-window:      "  ";

  drun-display-format: "{name}";
  window-format:       "{w} {t}";
}
